In [1]:
import pandas as pd

In [5]:
y=pd.Period(value=2017)

In [6]:
y

Period('2017', 'A-DEC')

In [7]:
#properties of period

dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [11]:
y.start_time

Timestamp('2017-01-01 00:00:00')

In [12]:
y.week

52

In [13]:
y.weekday

6

In [14]:
y.weekofyear

52

In [15]:
y.year

2017

In [16]:
y.is_leap_year

False

In [17]:
y.day_of_week

6

In [18]:
y.asfreq

In [19]:
# now monthly time period

m=pd.Period("2017",freq="M")

In [21]:
dir(m)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [22]:
m.end_time

Timestamp('2017-01-31 23:59:59.999999999')

In [23]:
m.qyear

2017

In [26]:
m.now

In [27]:
m

Period('2017-01', 'M')

In [28]:
m+1

Period('2017-02', 'M')

In [29]:
m+3

Period('2017-04', 'M')

In [30]:
d=pd.Period("2017",freq="D")

In [32]:
dir(d)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [33]:
d.hour

0

In [34]:
d.week

52

In [35]:
d.minute

0

In [36]:
d.start_time

Timestamp('2017-01-01 00:00:00')

In [37]:
d.end_time

Timestamp('2017-01-01 23:59:59.999999999')

In [38]:
d+10

Period('2017-01-11', 'D')

In [39]:
d+22

Period('2017-01-23', 'D')

In [43]:
dir(d)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [45]:
d.is_leap_year

False

In [46]:
# hours period
h=pd.Period('2016',freq="H")

In [49]:
dir(h)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [50]:
# for quarterly time period

q=pd.Period('2016Q1','Q-Dec')

In [51]:
q

Period('2016Q1', 'Q-DEC')

In [52]:
dir(q)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [54]:
q.start_time

Timestamp('2016-01-01 00:00:00')

In [55]:
q.end_time

Timestamp('2016-03-31 23:59:59.999999999')

In [56]:
q

Period('2016Q1', 'Q-DEC')

In [57]:
q+1

Period('2016Q2', 'Q-DEC')

In [58]:
quarter_start_feb=pd.Period('2016Q1',freq='Q-Jan')

In [60]:
quarter_start_feb.start_time

Timestamp('2015-02-01 00:00:00')

In [68]:
quarter1=pd.Period('2016Q1',freq="Q-Jan")

In [69]:
quarter2=pd.Period('2016Q2',freq="Q-Jan")

In [70]:
quarter1-quarter2

<-1 * QuarterEnd: startingMonth=1>

In [79]:
# quarters range b/t 2011(fiscal) and 2018
index=pd.period_range("2011","2018",freq="Q-Jan")

In [80]:
index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4'],
            dtype='period[Q-JAN]')

In [82]:
index[0].start_time

Timestamp('2010-11-01 00:00:00')

In [83]:
index[-1].end_time

Timestamp('2018-01-31 23:59:59.999999999')

In [84]:
import numpy as np

In [95]:
inde=pd.Series(np.random.randn(len(index)),index)

In [96]:
inde

2011Q4   -1.370598
2012Q1   -0.122984
2012Q2    0.362012
2012Q3    0.954830
2012Q4   -0.173731
2013Q1    0.299210
2013Q2   -0.296590
2013Q3    1.135424
2013Q4   -1.315386
2014Q1    0.894737
2014Q2   -0.532367
2014Q3    0.467288
2014Q4   -0.481482
2015Q1    0.452256
2015Q2    0.537191
2015Q3   -1.551648
2015Q4   -0.474198
2016Q1    0.434804
2016Q2    0.118272
2016Q3   -0.234303
2016Q4   -0.188172
2017Q1    0.361995
2017Q2    0.217248
2017Q3   -0.618273
2017Q4    0.093785
2018Q1    0.033345
2018Q2    0.499818
2018Q3   -0.420451
2018Q4    0.106470
Freq: Q-JAN, dtype: float64

In [97]:
inde.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4'],
            dtype='period[Q-JAN]')

In [100]:
time_stamp=inde.to_timestamp()

In [101]:
time_stamp

2010-11-01   -1.370598
2011-02-01   -0.122984
2011-05-01    0.362012
2011-08-01    0.954830
2011-11-01   -0.173731
2012-02-01    0.299210
2012-05-01   -0.296590
2012-08-01    1.135424
2012-11-01   -1.315386
2013-02-01    0.894737
2013-05-01   -0.532367
2013-08-01    0.467288
2013-11-01   -0.481482
2014-02-01    0.452256
2014-05-01    0.537191
2014-08-01   -1.551648
2014-11-01   -0.474198
2015-02-01    0.434804
2015-05-01    0.118272
2015-08-01   -0.234303
2015-11-01   -0.188172
2016-02-01    0.361995
2016-05-01    0.217248
2016-08-01   -0.618273
2016-11-01    0.093785
2017-02-01    0.033345
2017-05-01    0.499818
2017-08-01   -0.420451
2017-11-01    0.106470
Freq: QS-NOV, dtype: float64

In [102]:
time_stamp.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01', '2017-02-01', '2017-05-01', '2017-08-01',
               '2017-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [105]:
wallmart_data=pd.read_csv("WMT.csv")

In [106]:
wallmart_data

           Open        High         Low       Close   Adj Close   Volume
0    140.960007  142.130005  139.880005  140.039993  137.898834  5616400
1    140.000000  141.110001  138.699997  139.919998  137.780670  5051300
2    139.179993  140.089996  137.369995  138.750000  136.628555  6200600
3    140.589996  140.809998  139.029999  140.399994  138.253342  5525200
4    141.649994  144.160004  141.570007  142.779999  140.596939  5137700
..          ...         ...         ...         ...         ...      ...
248  147.100006  149.690002  147.100006  148.339996  148.339996  7064400
249  148.779999  150.520004  148.009995  150.059998  150.059998  6429300
250  150.000000  150.550003  148.460007  148.750000  148.750000  5806200
251  148.960007  149.020004  147.389999  147.529999  147.529999  4853200
252  148.339996  148.960007  147.830002  148.750000  148.750000   844132

[253 rows x 6 columns]