In [2]:
# for details see time series analysis series on codebasics channel
import pandas as pd

In [32]:
t=['2017-01-05','Jan 5,2017 2:30:00 AM']

In [33]:
t
# this  function converts different time formats in string to standard datetime format

['2017-01-05', 'Jan 5,2017 2:30:00 AM']

In [34]:
a=pd.to_datetime(t)

In [35]:
a

DatetimeIndex(['2017-01-05 00:00:00', '2017-01-05 02:30:00'], dtype='datetime64[ns]', freq=None)