In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("AppleHistData.csv")

In [10]:
dates=pd.date_range(end="10-26-2021",periods=1258,freq="B")

In [11]:
data=data.set_index(dates)

In [12]:
data.tail(7)

,Open,High,Low,Close,Adj Close,Volume
2021-10-18,142.110001,143.880005,141.509995,143.759995,143.759995,69907100
2021-10-19,143.770004,144.899994,143.509995,144.839996,144.839996,67885200
2021-10-20,143.449997,146.839996,143.160004,146.550003,146.550003,85589200
2021-10-21,147.009995,149.169998,146.550003,148.759995,148.759995,76378900
2021-10-22,148.699997,149.750000,148.119995,149.259995,149.259995,58418800
2021-10-25,148.809998,149.639999,147.869995,149.479996,149.479996,61421000
2021-10-26,149.690002,150.179993,148.639999,148.690002,148.690002,58839600

In [15]:
data["2021-03-17":"2021-03-23"]    # but 23rd March is off in Pakistan, now for this kind of problems we have to customize our calender

# the defualt calender shows holidays acc. to USA

,Open,High,Low,Close,Adj Close,Volume
2021-03-17,119.029999,122.059998,118.790001,121.089996,120.703819,129525800
2021-03-18,121.690002,122.169998,119.449997,119.980003,119.597366,111943300
2021-03-19,122.540001,123.209999,121.260002,121.959999,121.571045,103026500
2021-03-22,120.400002,121.169998,119.160004,121.029999,120.644012,88105100
2021-03-23,121.410004,124.000000,120.419998,123.989998,123.594566,92403800

In [24]:
#to import USA holiday calender
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

# create instance of custombusiness day

usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [25]:

american_calender_dates=pd.date_range(end="10-26-2021",periods=1258,freq=usb)

In [26]:
american_calender_dates

DatetimeIndex(['2016-10-21', '2016-10-24', '2016-10-25', '2016-10-26',
               '2016-10-27', '2016-10-28', '2016-10-31', '2016-11-01',
               '2016-11-02', '2016-11-03',
               ...
               '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-18',
               '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-25', '2021-10-26'],
              dtype='datetime64[ns]', length=1258, freq='C')

In [30]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class USFederalHolidayCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Umair's BirthDay", month=2, day=5, observance=nearest_workday),
       
    ]
my_calendar=CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [35]:
my_holiday=pd.date_range(start="02-01-2021",periods=10,freq=my_calendar)

In [37]:
my_holiday  # you can here is no 5th Feb bec. it is my birthday and it is holiday

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11',
               '2021-02-12', '2021-02-15'],
              dtype='datetime64[ns]', freq='C')

In [45]:
# now if i say in Dubai we have holiday on Friday, then;

dubai=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu',holidays=["2021-07-04"])

In [48]:
my_holiday=pd.date_range(start="07-01-2021",periods=10,freq=dubai)
my_holiday

DatetimeIndex(['2021-07-01', '2021-07-05', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-11', '2021-07-12', '2021-07-13',
               '2021-07-14', '2021-07-15'],
              dtype='datetime64[ns]', freq='C')

In [ ]:
m